<%- include('partials/header')%>

<div class="container">


      <main class="d-flex justify-content-center m-4 singlePage align-items-center">
        <div class="col-md-8 signInBox">
            <h1 class="formField">Edit  <%= user.username %></h1>
            <p class="midgrey _1rem">Please use alphanumerica with no spaces or the following characters $.%,|</p>
              <form class="" action="/register/<%= user._id %>?_method=PUT" method="POST">

                <label for="username"> <span class="regAdmin">Username</span>
                    <input  type="text" name="User[username]" placeholder="Username"  class="form-control-lg m-2" autofocus  value="<%= user.username  %>" >
                </label>
               <label for="password">  <span class="regAdmin">Password</span>
                    <input  type="password" name="User[password]" placeholder="Password" class="form-control-lg m-2"  value="<%= user.password  %>" >
               </label>
               <label for="firstName">  <span class="regAdmin">First Name</span>
                    <input  type="text" name="User[firstName]" placeholder="First Name" class="form-control-lg m-2" value="<%= user.firstName  %>" > 
                </label>
                <label for="lastName">  <span class="regAdmin">Last Name</span>
                    <input  type="text" name="User[lastName]" placeholder="Last Name" class="form-control-lg m-2" value="<%= user.lastName %>">
                </label>
                <label for="email">  <span class="regAdmin">e-mail</span>
                    <input  type="email" name="User[email]" placeholder="john@doe.com" class="form-control-lg m-2" value="<%= user.email %>" > 
                </label>
                <label for="judgingGroup">  <span class="regAdmin">Judging group</span>
                    <input  type="text" name="judgingGroup" placeholder="Group Number" class="form-control-lg m-2" value="<%= user.judgingGroup %>" > 
                </label>
            <!-- <label for="assignedCategories" class=""> <span class="regAdmin">assignedCategories</span>
                <input  type="text" name="assignedCategories" placeholder=" A-1, A-2, B, C ..." class="form-control-lg m-2">
            </label> -->
            <!-- <label for="judgingGroup" class=""> <span class="regAdmin">Judging group</span>
                <select name="judgingGroup" id="judgingGroup">
                    <option value="0">-Select an Group-</option>
                    <option value="1">Group 1</option>
                    <option value="2">Group 2</option>
                    <option value="3">Group 3</option>
                    <option value="4">Group 4</option>
                </select>
             </label> 
              <label for="judge">  <span class="regAdmin">Judge?</span>
                 <input  type="checkbox" name="judge" placeholder="Check yes for judge" class="form-control-lg m-2">
             </label>
             <label for="admin">  <span class="regAdmin">Judge?</span>
                <input  type="checkbox" name="admin" placeholder="Admin" class="form-control-lg m-2">
            </label>

                <label for="adminCode">  <span class="regAdmin">Super User</span>
                    <input  type="checkbox" name="User[isAdmin]" placeholder="Super User" class="form-control-lg m-2" value="<%= user.adminCode %>" >
                </label>
  -->
                <span>
                  <button class="btn btn-primary lg btn-block m-3" type="post" name="button">Edit Entry</button>
                
                  <form action="/profile/<%= user._id %>?_method=DELETE" method="POST" >
                      <button class="btn-sm btn-danger btn-block m-3"> Delete</button>
                  </form>
                </span>
        
            </form>
            <p class="midgrey">Already registered? <a href="/register" %> >Login</p></a> </p> 
        </div>
    </main>
            
    
  </div>
      <a href="/artentries" class="d-flex justify-content-center">Go Back</a>
</div>

<%- include('partials/footer') %>
