<%- include('partials/header') %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script type="text/javascript" src="/js/Dropbox-sdk.min.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="91x0vhk5lkdccy5"></script>
<link rel="stylesheet" href="/css/db.css" type="text/css">



<script>
    //active menu highlight
    $(document).ready(function(){
      $('li.nav-item.dropdown.myCategories').attr("style", "background-color:orange;");
      $('span.nav-link.dropdown-toggle.myCategories').attr("style", "color:#fff;");
    });

  </script>





<h1  class="fullSpan">
    <span class="darkOrange font-weight-bold"><%= artentries.category %>: <%= categorySpecifics[0].type %> </span>
 <br>
   <span  class="myCategorySpecific" ><%= categorySpecifics[letterIndexKeys[0][artentries.category]].subtype  %></span>
     <span class="white"><%= categorySpecifics[letterIndexKeys[0][artentries.category]].specific  %></span>

     </h1>
     <div class="buttonsShowPage">
      <button  id="toggleScoringIcon" class="btn btn-primary m-2  btn-lg" > Toggle scoring  </button>
      <button class="btn btn-secondary m-2  btn-lg "  action="action" type="button" value="Back" onclick="window.history.go(-1); return false;" >
        Back to entries in this category</button>
   </div>

<main class="centerRatingPage">
  <div></div>

  <div id="toggleScoringSection" style="display: none;">

    <% if( artentries.category === 'F1' || artentries.category === 'F2' ||
            artentries.category === 'F3' || artentries.category === 'F4' ||
            artentries.category === 'L'  ){ %>
         <%- include('partials/questions_animation') %>
    <% } else if(artentries.category === 'A1' || artentries.category === 'A2' ||
                  artentries.category === 'B' || artentries.category === 'C' ||
                artentries.category === 'D' || artentries.category === 'I1' ||
                artentries.category === 'I2' || artentries.category === 'I3' ||
                artentries.category === 'J' || artentries.category === 'K' ){ %>
         <%- include('partials/questions_general') %>
    <% } else if(artentries.category === 'E'){ %>
         <%- include('partials/questions_book') %>
    <% } else if(artentries.category === 'G1' || artentries.category === 'G2' ||
                artentries.category === 'G3' || artentries.category === 'G4' ||
                artentries.category === 'G5' || artentries.category === 'M' ){ %>
        <%- include('partials/questions_interactive') %>
   <% } %>
</div>


<style>
  #toggleScoringSection{
    position: absolute;
    transition: left .5s;
  }
  #toggleScoringIcon{
  /*   font-size: 50px;
      height: 20px;
    width:20px;
 border: red solid 10px;
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid ;
    border-bottom: 0.3em solid transparent;
    border-left: 0;

    position: relative;
    transform-origin: left;
    transform: rotate(90deg) translate(10px, 10px);  */
  }
  .buttonsShowPage{
    display: flex;
    width: 92%;
    margin-left:4%;
  }
  </style>

<script>

  $('#toggleScoringIcon').click( function(){
    $('#toggleScoringSection').toggle(
  function() {
        $('#toggleScoringSection').css('left', '0')
    },
    function() {
        $('#toggleScoringSection')
  })
})
  </script>

    <div class="row">

        <div id="displayDescriptions" class=" mt-4 ml-4" >
            <h2 ><div class="orange entryDescriptors">
                Title:
            </div><%=artentries.title%></h2>
          <div class="orange entryDescriptors">Medium or Software Used: </div>  <p> <%= artentries.medium_software %></p>
            <div class="orange entryDescriptors">Presentation format: </div><p> <%= artentries.presentation_format %></p>
            <div class="orange entryDescriptors">Primary audience: </div> <p><%= artentries.primaryAudience %></p>
            <div class="orange entryDescriptors">Intended purpose: </div><p> <%= artentries.intended_purpose %></p>
       </div>


    </div>

    <div id="user"><%= artentries.judge %></div>


</main>
<%- include('partials/footer') %>

 <input